<!doctype html>
<html lang="en-EU">
	<head>
		<title>Wolves of Chiswick</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="style.css">
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	</head>
	<body>
		<noscript>It appears that JavaScript has been disabled or is not supported. This site can only work with JavaScript enabled!</noscript>
		<header>
			<h1>The Wolves of Chiswick</h1>			
		</header>
		<div data-ng-app="myApp" data-ng-controller="comicController">
			<nav>
				<ul>
					<li data-ng-style="prevStyle" data-ng-click="oldest()">&lt;&lt;</li>
					<li data-ng-style="prevStyle" data-ng-click="previous()">&lt;</li>
					<li data-ng-click="random()">Random</li>
					<li data-ng-style="nextStyle" data-ng-click="next()">&gt;</li>
					<li data-ng-style="nextStyle" data-ng-click="newest()">&gt;&gt;</li>			
				</ul>
			</nav>
			<img data-ng-src="{{ comicURL }}" alt="Wolves of Chiswick webcomic">
			<nav>
				<ul>
					<li data-ng-style="prevStyle" data-ng-click="oldest()">&lt;&lt;</li>
					<li data-ng-style="prevStyle" data-ng-click="previous()">&lt;</li>
					<li style="display: inline" data-ng-click="random()">Random</li>
					<li data-ng-style="nextStyle" data-ng-click="next()">&gt;</li>
					<li data-ng-style="nextStyle" data-ng-click="newest()">&gt;&gt;</li>		
				</ul>
			</nav>
		</div>
		<script src="myApp.js"></script>
		<script src="comicController.js"></script>
	</body>
</html>