<!DOCTYPE html>
<html lang="en-EU">
	<head>
		<title>Wolves of Chiswick</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="style.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<!--bootstrap-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<!--angular-->
		<script src="angular.min.js"></script>
	</head>
	<body>
		<div class="container">
			<noscript>It appears that JavaScript has been disabled or is not supported. This site can only work with JavaScript enabled!</noscript>
			<header class="page-header">
				<h1 class="text-center">The Wolves of Chiswick</h1>			
			</header>
			<div data-ng-app="myApp" data-ng-controller="comicController" class="jumbotron">
				<div class="row text-center">
					<nav class="btn-group">
						<button class="btn btn-default" data-ng-style="prevStyle" data-ng-click="oldest()">&lt;&lt;</li>
						<button class="btn btn-default" data-ng-style="prevStyle" data-ng-click="previous()">&lt;</li>
						<button class="btn btn-default" data-ng-click="random()">Random</li>
						<button class="btn btn-default" data-ng-style="nextStyle" data-ng-click="next()">&gt;</li>
						<button class="btn btn-default" data-ng-style="nextStyle" data-ng-click="newest()">&gt;&gt;</li>			
					</nav>
				</div>
				<div class="row">
					<img data-ng-src="{{ comicURL }}" alt="Wolves of Chiswick webcomic" class="col-sm-12 img-thumbnail img-responsive">
				</div>
				<div class="row text-center">
					<nav class="btn-group">
						<button class="btn btn-default" data-ng-style="prevStyle" data-ng-click="oldest()">&lt;&lt;</li>
						<button class="btn btn-default" data-ng-style="prevStyle" data-ng-click="previous()">&lt;</li>
						<button class="btn btn-default" data-ng-click="random()">Random</li>
						<button class="btn btn-default" data-ng-style="nextStyle" data-ng-click="next()">&gt;</li>
						<button class="btn btn-default" data-ng-style="nextStyle" data-ng-click="newest()">&gt;&gt;</li>			
					</nav>
				</div>
			</div>
		</div>
		<script src="myApp.js"></script>
		<script src="comicController.js"></script>
	</body>
</html>